// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "showKeys": "false",
  "showThemeButton": "false",
  "showPlayerLoc": "false",
  "showMouseLoc": "true",
  "minimalMode": "false",
  "propertiesId": 0,
  "playerDisplay": "OutlinedIcons",
  "selfDisplayScale": "1.0",
  "playerDisplayScale": "1.0",
  "showPlayerHeading": "false",
  "mobDisplay": "DotsAndOutlinedIcons",
  "mobDisplayScale": "1.0",
  "showMobHeading": "false",
  "showMobs": "false",
  "showAnimals": "false",
  "showAmbientCreatures": "false",
  "showVillagers": "false",
  "showPets": "false",
  "showPlayers": "false",
  "fontScale": "2.0",
  "showWaypointLabels": "false",
  "waypointLabelScale": "1.0",
  "waypointIconScale": "1.0",
  "locationFormatVerbose": "true",
  "locationFormat": "xyz",
  "showOffScreenPlayers": "true",
  "showWaypoints": "false",
  "showSelf": "true",
  "showGrid": "false",
  "showCaves": "true",
  "showPlayerNames": "false",
  "showTeamNames": "true",
  "showEntityNames": "false",
  "showHostileNames": "false",
  "showPassiveNames": "false",
  "showAmbientNames": "false",
  "showPetNames": "false",
  "showNpcNames": "false",
  "showVillagerNames": "false",
  "showNoIconNames": "false",
  "preferredMapType": "day",
  "zoomLevel": "1024",
  "configVersion": "6.0.0-beta.47"
}